.bg {
  color: #fff !important;
  background: linear-gradient(135deg, #ff8a24 0%, #fe604e 100%) !important;
}
.navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-toggle {
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
}
